@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: none;
}

.yarl__button[aria-label="Zoom in"]:disabled div,
.yarl__button[aria-label="Zoom out"]:disabled div {
    color: rgba(255 255 255 /0.5) !important
} 



@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
}