@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: none;
}

.yarl__button[aria-label="Zoom in"]:disabled div,
.yarl__button[aria-label="Zoom out"]:disabled div {
    color: rgba(255 255 255 /0.5) !important
} 



@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 6px;
    }
    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 0.5rem;
    }
    .scrollbar:hover::-webkit-scrollbar-thumb {
        background: #cfd8dc;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}